<div class="container-fluid">
  <div class="row">
    <div class= "col-md-3 col-sm-3 col-3">
      <div class="logo-container">
        <a routerLink="/">
          <img src="Logoaupetitvillage.jpg" alt="" class="logo">
        </a>
      </div>
    </div>
    <div class= "col-md-9 col-sm-9 col-9 ">
      <div class="menu-icon" (click)="openMenu()">
        <i class="menu-icon"></i>
      </div>
      <div class="desktop_menu"[class.mobile_menu]="menuValue">
        <ul>
          <li (click)="closeMenu()"><a routerLink="/">Accueil</a></li>
          <li (click)="closeMenu()"><a routerLink="/products">Produits</a></li>
          <li (click)="closeMenu()"><a routerLink="/about">A propos</a></li>
        </ul>
      </div>
    </div>
  </div>



    

  




  







  


