

<footer>
    <div class="container-fluid">
      <div class="row">
        <div class="bloc1">
          <h2>Au petit village</h2>
          <p>"Au petit village" propose des figurines inspirées de la bande dessinée Astérix et Obélix </p>
          <div class="social-links">
            <a href="https://www.facebook.com/yourfacebookpage" target="_blank">
              <img src="facebook.png" alt="Facebook" class="social-icon">
            </a>
            <a href="https://www.instagram.com/yourinstagrampage" target="_blank">
              <img src="logoinstagram.png" alt="Instagram" class="social-icon">
            </a>
          </div>
        </div>
        <div class="bloc2">
          <ul>
            <h2>Découvrir</h2>
            <li><a routerLink="/products">Produits</a></li>
            <li><a routerLink="/about">A propos</a></li>
          </ul>
        </div>
        <div class="bloc3">
          <ul>
            <h2>Nous contacter</h2>
            <li>2 rue du plat, 75000 PARIS</li>
            <li>01 67 35 89 32</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

    
