

<main class="main">
    <div class="content">
        <h1>{{title}}</h1>
        <div class="bloc 1">
            <p>"Au petit village" est une entreprise qui confectionne des figurines inspirées de la bande dessinée Astérix et Obélix.</p><br>
            <p>Nous sommes une équipe de 5 personnes, nostalique des aventures des célèbres Gaulois.</p><br>
            <p>Par cette même occasion, nous vous proposons de partager cette aventure avec nous</p>
        </div>
        <div class="bloc2">
            <img src="imageapropos.jpg" alt="" class="imageapropos">
        </div>
    </div>
  </main>
