

<div class="container-fluid">
    <div class="row">
      <h1>{{title}}</h1>
      <div class="col-md-6 pr1 mx-auto">
        <img src="figurineobelixlivres.png" alt="Obélix et sa pile de livres">
      </div>
      <div class="col-md-6 presentation mx-auto">
        <h2>Obélix et sa pile de livres</h2><br>
        <p>Retrouvez Obélix et sa pile d'albums des aventures des Gaulois. </p><br>
        <p>Comme Obélix est tombé dans un chaudron de potion magique quand il était enfant</p><br>
        <p>Cette pile d'albums des aventures des Gaulois n'est pas plus lourde qu'un menhir.</p>
        <p>Prix : 20€</p> <br>
        <div class="fiche-technique">
            <h2>Fiche technique</h2>
            <ul>
              <li><strong>Fabricant :</strong> Collectoys</li>
              <li><strong>Matière :</strong> Résine</li>
              <li><strong>Dimensions :</strong> 14 x 13 x 26,5 cm</li>
              <li><strong>Langue :</strong> Allemagne, France</li>
            </ul>
          </div>
        <button class="ajouter-panier"><a routerLink="/products">Ajouter au panier</a></button>
      </div>
    </div>
  </div>

